body{
    background-color: #d6d6d6;
    text-align: center;
    margin: 50px auto; 
}
.small-ball{
    height: 28px;
    border-radius: 50%;
}
#main-div{
    border-radius: 10px;
    width: 290px;
    height: 445px;
    background-color: #d6d6d6;
    box-shadow: 10px 10px 10px #686868, -10px -10px 10px #ffffff;
}
#top-header{
    height: 28px;
    background-color: #383837;
    border-radius: 10px 10px 0px 0px;
}
#calculator-display{
    background-color: #b3b3b2;
    margin: 10px;
    border-radius: 10px;
    width: 270px;
    height: 140px;
    overflow: hidden;
}
#math-display{
    width: 260px;
    height: 75px;
    text-align: end;
    overflow: auto;
}
.button-div{
    font-weight: bold;
    border-radius: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 4px 4px 8px #686868, -4px -4px 8px #ffffff;
}
.top-button{
    color: #ffffff;
    background-color: #383837;
}
.equation-button{
    color: #ffffff;
    background-color: #680028;
}
.math-button{
    background-color: #b3b3b2;
}
.button-div:active{
    box-shadow: 5px 5px 10px #ffffff, -5px -5px 10px #686868;
}